ag-ui-protocol==0.1.9
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.71.0
anyio==4.11.0
argcomplete==3.6.3
arxiv==2.2.0
attrs==25.4.0
bcrypt==5.0.0
blinker==1.9.0
boto3==1.40.56
botocore==1.40.56
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cohere==5.19.0
colorama==0.4.6
cryptography==46.0.3
cssselect==1.3.0
cssutils==2.11.1
distro==1.9.0
docstring_parser==0.17.0
eval_type_backport==0.2.2
executing==2.2.1
fastavro==1.12.1
feedparser==6.0.12
filelock==3.20.0
frozenlist==1.8.0
fsspec==2025.9.0
genai-prices==0.0.35
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.41.1
google-genai==1.46.0
googleapis-common-protos==1.71.0
griffe==1.14.0
groq==0.33.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.35.3
idna==3.11
importlib_metadata==8.7.0
invoke==2.2.1
Jinja2==3.1.6
jiter==0.11.1
jmespath==1.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
logfire==4.14.0
logfire-api==4.14.0
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mcp==1.18.0
mdurl==0.1.2
mistralai==1.9.11
more-itertools==10.8.0
multidict==6.7.0
narwhals==2.9.0
nexus-rpc==1.1.0
numpy==2.3.4
openai==2.6.0
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-instrumentation==0.59b0
opentelemetry-instrumentation-httpx==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opentelemetry-util-http==0.59b0
packaging==25.0
pandas==2.3.3
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.3.0
premailer==3.10.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.0
psycopg2-binary==2.9.11
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.3
pydantic-ai==1.2.1
pydantic-ai-slim==1.2.1
pydantic-evals==1.2.1
pydantic-graph==1.2.1
pydantic-settings==2.11.0
pydantic_core==2.41.4
pydeck==0.9.1
Pygments==2.19.2
pypdfium2==4.30.0
pyperclip==1.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
pytz==2025.2
#pywin32==311
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rich==14.2.0
rpds-py==0.27.1
rsa==4.9.1
s3transfer==0.14.0
setuptools==80.9.0
sgmllib3k==1.0.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sse-starlette==3.0.2
starlette==0.48.0
streamlit==1.50.0
temporalio==1.18.0
tenacity==9.1.2
tokenizers==0.22.1
toml==0.10.2
tornado==6.5.2
tqdm==4.67.1
types-protobuf==6.32.1.20250918
types-requests==2.32.4.20250913
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
watchdog==6.0.0
wcwidth==0.2.14
websockets==15.0.1
wheel==0.45.1
wrapt==1.17.3
yagmail==0.15.293
yarl==1.22.0
zipp==3.23.0
